* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    font-size: 62.5%;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.information-card{
    width: 320px;
    min-width: 300px;
    height: auto;
    background-color: whitesmoke;
    border-radius: 2px;
    padding: 15px;
    border: 1px solid gray;
}
.title-container{
    border-bottom: 1px gray solid;
    padding-bottom: 5px;      
}
.title-container h1{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 3px;
}
.title-container p{
    font-size: 1.2rem;
    font-weight: 300;
}
.info-container{
    margin-top: 10px;
}
.info-item{
    margin-bottom: 12px;
}
.info-item h2{
    font-size: 1.6rem;
    font-weight: bold;
}
.info-item p{
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 2px;
}